.herosection_container{
    padding: 200px 40px;
    /* adding background image */
    background-image: url('https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* adding background color */
    height: 100vh ;
}
.herosection_container h1{
    font-size: 48px;
    color: black;
    margin-bottom: 20px;
}
.car_search{
    width: 100;
    background-color: white;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    border-bottom: 0.5rem solid #FFCC00;
    padding: 30px;
}
select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
  width: 210px;
  color: #333;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  cursor: pointer;
}

